* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }


.body {
    display: flex;
    text-align: center;
    place-items: center;
    min-height: 100vh;
    background-image: url(/images/Outrigger.jpg);
    
  }
  
  .contact {
    margin:0 auto;
    width: 330px;
    padding: 40px 30px;
    background-color: royalblue;
    border-radius: 10px;
    
  }
  
  .contact .text {
    font-size: 33px;
    margin-bottom: 35px;
    font-weight: 600;
    
  }
  
  .fild {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
  }
  .fild:nth-child(2) {
    margin-top: 20px;
  }
  
  .fild input {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
  
  }
  
  .fild span {
    width: 50px;
    color:black;
    position: absolute;
    line-height: 50px;
  }
  
  .fild label {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 45px;
    pointer-events: none;
    color: black;
  }
  
  .fild input:valid ~ label {
    opacity: 0;
  }
  
  .forget-pass{
      margin-top:20px;
  }
  
  .forget-pass a {
    color:black;
    font-size: 14px;
    text-decoration: none;
  }
  
  .forget-pass:hover a {
    text-decoration: underline;
  }
  
  button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 15px 0;
    font-size: 17px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    color: black;
    background-color: #dde1e7;
    box-shadow: 
      inset 2px 2px 5px #babecc, 
      inset -5px -5px 10px #ffffff73;
  }
  
  button:focus {
    color: #0d151b;
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
  }
  
  .signup {
    font-size: 16px;
    margin: 10px 0;
    color: black;
  }
  
  .signup a {
    color: blue;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }